* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    cursor: default;
    transition: all 0.5s;
}

.ishide {
    opacity: 0;
}

.loading {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    transition-property: -moz-transform;
    transition-duration: 1s;
    -webkit-animation: rotate 4s steps(12, start) infinite;
    -moz-animation: rotate 4s steps(12, start) infinite;
    -o-animation: rotate 4s steps(12, start) infinite;
    animation: rotate 4s steps(12, start) infinite;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

#home {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 48px;
    height: 48px;
    z-index: 999;
    cursor: pointer;
}

.header {
    margin: 0 auto;
    background-image: url('../img/hwcloud.jpg');
}

.sub-header {
    height: 10vw !important;
    background-size: cover !important;
}

.breadcrumb {
    margin: 1.5% 2%;
}

.breadcrumb>span {
    font-weight: bolder;
}

.breadcrumb>span:hover {
    color: purple;
    cursor: pointer;
    text-decoration: underline;
}

.seperator {
    display: block;
    width: 60px;
    height: 2.5px;
    margin: 10px 0 20px;
    background-color: rgb(128, 0, 128);
    position: relative;
    left: 2%;
}

.header>img {
    position: absolute;
    top: 0;
    z-index: -1;
}

.container {
    max-width: 1366px;
    min-height: 100px;
    margin: 0 auto;
}

.nav-container {
    width: 100%;
    display: flex;
    text-align: center;
    height: 128px;
    position: sticky;
    top: 0;
    background-color: white;
    /* background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  ); */
    z-index: 999;
    box-shadow: 0 10px 10px -10px #aaaaaa;
}

.nav-item {
    position: relative;
    float: left;
    width: 25%;
    line-height: 128px;
    font-size: 25px;
    cursor: default;
    margin: 0 20px;
}

.nav-item:hover {
    cursor: pointer;
    color: rgb(180, 0, 128);
}

.nav-item>img {
    position: relative;
    top: 4px;
    height: 28px;
}

.footer {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    color: rgb(119, 119, 119);
    border-top: 1px solid rgb(220, 223, 230);
}

.footer p {
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.support {
    color: grey;
}

@media screen and (min-width: 992px) {
    .header {
        width: 100vw;
        height: calc(55800vw / 1366);
        background-size: contain;
    }

    .loading {
        position: fixed;
        width: 50px;
        height: 50px;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
    }

    .footer p {
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
    .header {
        width: 100vw;
        height: calc(55800vw / 1366);
    }
}

@media screen and (min-width: 1366px) {}

@media screen and (max-width: 992px) {
    .header {
        width: 100vw;
        height: calc(55800vw / 1366 / 2);
        background-size: cover;
    }

    .loading {
        position: fixed;
        width: 12vw;
        height: 12vw;
        left: calc(50% - 6vw);
        top: calc(50% - 6vw);
    }

    .breadcrumb {
        font-size: 3vw;
    }

    .to-top>img,
    #home {
        height: 8vw;
        width: 8vw;
    }

    .footer p {
        font-size: 1.8vw;
    }

    .footer {
        font-size: 1.8vw;
    }
}